<div class="container">
  <div class="row">
    <div class="col-sm-4">  
      <h1>Employees</h1>
      <ul class="nav justify-content-center">
          <li class="nav-item">
              <a routerLink="customers" class="btn btn-secondary btn-lg" role="button" routerLinkActive="active">List of employees</a> 
          </li>
          <li class="nav-item">
              <a routerLink="customer/add" class="btn btn-secondary btn-lg" role="button" routerLinkActive="active">Add new</a>
          </li>
      </ul>
      <hr>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>