:host {
    text-align: center;
    display:block;
    border: 1px solid black ;
    border-radius: 10px;
    height: 100%;
    width: 320%;
    position:center;
    background-color: rgb(129, 154, 201);
    font-size: x-large;
    
  }